.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.container img {
    width: 45%;
    height: 70%;
}

.container-btn-word {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 100%;
}

.container-btn-word button {
    width: 55%;
    margin: 0 auto;
    background-color: rgb(28, 164, 108);
    padding: 18px;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    border: none;
}

.container-btn-word span {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.container-lyrics {
    width: 60%;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.lyric {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color:rgb(48, 48, 148);
    background-color: #c1e9fb;
    border: 1px solid rgb(48, 48, 148);
    font-size: 20px;
    cursor: pointer;
}

.lyric:hover {
    background-color: rgb(20, 20, 200);
    color: #fafafa;
}

.lyric:disabled {
    cursor: default;
    background-color: #9faab5;
    color: #79818a;
    border: 1px solid #9faab5;
}

.container-shot {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    padding-bottom: 50px;
}

.container-shot input {
    width: 50%;
    height: 25px;
}

.container-shot button {
    padding: 8px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    color:rgb(48, 48, 148);
    border: 1px solid rgb(48, 48, 148);
    cursor: pointer;
}

.black {
    color: #000000;
}

.red {
    color: red;
}

.green {
    color: green;
}